body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
	width: 100%;
	height: 100%;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}


.myBtnTrue {
	background-color: gray;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 10px; /* rounded corners */
	cursor: pointer;
	border: 2px solid #404040;
	text-transform: none;
}

.myBtnFalse {
	background-color: #4a4a4a;
	color: #cccccc;
	border: none;
	padding: 5px 10px;
	border-radius: 10px; /* rounded corners */
	cursor: pointer;
	border: 2px solid #2e2e2e;
	text-transform: none;
  }

.myBtnTrue:hover {
	background-color: #6e6e6e;
}

.myBtnFalse:hover {
	background-color: #5c5c5c;
}